{% extends "main.html" %} 
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
			<div class="col-md-2 text-right">
						</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div>
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>{{ content.name }}
			</h1>
	</div>
</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('newRecommendations', content_id = content.id )}}">
				<button class="btn btn-default" id="new-menu-item">
					<span aria-hidden="true"></span>Add Recommendation
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>

	{% for i in items %}

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<div>
			<h3>{{i.name}}</h3>

			<p>{{i.description}}</p>
			</div>
		</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('editRecommendations', content_id = content.id, rec_id = i.id) }}">
				<button class="btn btn-default" id="new-menu-item">
					<span aria-hidden="true"></span>Edit Recommendation
				</button>
			</a>
			<a href="{{url_for('deleteRecommendations', content_id = content.id, rec_id = i.id ) }}">
				<button class="btn btn-default delete" id="delete-restaurant">
					<span aria-hidden="true"></span>Delete Recommendation
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>

{% endfor %}

{% endblock %}